#contact_modal {
  display: none;
}
.logo2 {
  height: 50px;
  margin-left: 100px;
}
.infoPhotograph {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photographHeader img {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  object-fit: cover;
}
p.name {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  margin: 5px;
  white-space: nowrap;
}
p.taglign {
  font-size: 15px;
  color: black;
  margin: 5px;
  font-weight: 400;
  white-space: nowrap;
}
p.localisation {
  color: #d3573c;
  font-size: 18px;
  margin: 5px;
}
#select {
  display: flex;
  margin: 40px;
  margin-top: 30px;
  margin-left: 100px;
}
option {
  width: 90px;
  height: 23px;
  font-weight: bold;
}
label {
  margin-right: 20px;
  font-weight: bold;
}
#filter-select {
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 70px;
  padding: 11px 15px;
}
#filter-select:hover {
  color: #000000;
  background-color: #db8876;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  color: #000000;
  background-color: #db8876;
  border: 2px solid #000000;
}
#display-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-left: 100px;
}
.portofolio {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.portofolio video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #911c1c;
  margin-top: 0;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 50px;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
textarea {
  width: 100%;
  height: 200px;
}
.like_price {
  width: 20%;
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 5%;
}
.likeHeart {
  display: flex;
}
.photos-title {
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.heart {
  margin-top: 5px;
  color: #901c1c;
  margin-right: 4px;
}
.imgHeart {
  margin-top: 8px;
  cursor: pointer;
}

.numberLike {
  display: flex;
  color: #901c1c;
}
.photos-title img {
  width: 20px;
  height: 20px;
}

.sticky_footer {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.sticky_footer img {
  width: 20px;
}
#modalLightBox {
  display: none;
}
.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-content: center;
  align-items: center;
  z-index: 10;
}

.lightbox_container {
  background-color: #9e4646;
  width: 1050px;
  height: 900px;
  border-radius: 5px;
}
.img_container{
  width: 1050px;
    height: 900px;
    border-radius: 5Px;
    object-fit: cover;
}

.lightbox_prev {
  background: url(/assets/icons/chevronLeft.png) no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  cursor: pointer;
  left: 10%;
  z-index: 20;
}

.lightbox_next {
  background: url(/assets/icons/chevronRight.png) no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  right: 10%;
  z-index: 20;
  cursor: pointer;
}
.lightbox_close {
  background: url(/assets/icons/closeImg.png) no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: 15%;
  right: 10%;
}

@media screen and (max-width: 945px) {
  .modal header h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 890px) {
  .secondHeader {
    margin: 0;
  }
  .logo2 {
    margin-left: 50px;
  }

  .photographHeader img {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    object-fit: cover;
  }
  .infoPhotograph {
    margin: 0;
    margin-left: 50px;
  }
  #select {
    margin-left: 50px;
  }
  .contact_button {
    font-size: 14px;
    width: 120px;
    height: 50px;
  }

  .photos-artist img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .title {
    margin-top: 0;
    font-weight: 400;
    font-size: 18px;
  }
  .portofolio,
  .portofolio video {
    width: 250px;
    height: 200px;
  }
  .photos-title {
    width: 250px;
  }
  .photos_Plus_Title {
    width: 250px;
    height: 200px;
  }
  .display-photos {
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
  }
  p.name {
    font-size: 30px;
  }
  p.ptaglign {
    font-size: 13px;
  }
  .like_price {
    width: 30%;
  }

  .price {
    margin-left: 10px;
    white-space: nowrap;
  }
  .name_localisation {
    margin-right: 10px;
  }
  .contact {
    margin: 20px;
  }
}
@media screen and (max-width: 660px) {
  .photographHeader {
    height: auto;
    flex-direction: column;
  }
  .like_price {
    width: 35%;
  }
  .photosPlusTitle img {
    width: 20px;
    height: 20px;
  }
  .sticky_footer {
    display: flex;
    flex-direction: column;
  }
  .price {
    margin-left: 0;
  }
  .modal header h2 {
    font-size: 30px;
    font-weight: normal;
  }
  .closeForm {
    font-size: 35px;
  }
}
@media screen and (max-width: 525px) {
  .like_price {
    width: 35%;
  }
  .photos-artist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infoPhotograph {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
  }
  #display-photos {
    display: flex;
    flex-direction: column;
  }
  .photosPlusTitle img {
    width: 20px;
    height: 20px;
  }
}
