@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2,
p.name {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  margin: 5px;
  white-space: nowrap;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  object-fit: cover;
}
.photographer_section article h3,
p.localisation {
  color: #d3573c;
  font-size: 18px;
  margin: 5px;
}
.photographer_section article h4,
p.taglign {
  font-size: 15px;
  color: black;
  margin: 5px;
  font-weight: 400;
  white-space: nowrap;
}
.photographer_section article h5 {
  font-size: 13px;
  color: #757575;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  header {
    margin-left: 40px;
  }
  .photographer_section {
    display: flex;
    flex-direction: column;
  }
  .photographer_section article {
    background-color: #48d33c;
  }
  .photographer_section article img {
    height: 400px;
    width: 400px;
    border-radius: 400px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
    object-fit: cover;
  }
  .photographer_section article h2 {
    font-size: 70px;
  }
  .photographer_section article h3 {
    font-size: 48px;
  }
  .photographer_section article h4 {
    font-size: 35px;
  }
  .photographer_section article h5 {
    font-size: 33px;
  }
}

@media screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header .logo {
    margin-left: 0;
    margin: 20px;
  }
  header h1 {
    margin-left: 0px;
    margin-right: 0;
  }
  .photographer_section article {
    background-color: aqua;
  }
  .photographer_section article img {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;
    object-fit: cover;
  }
  .photographer_section article h2 {
    font-size: 40px;
  }
  .photographer_section article h3 {
    font-size: 35px;
  }
  .photographer_section article h4 {
    font-size: 20px;
  }
  .photographer_section article h5 {
    font-size: 20px;
  }
}
